<mat-toolbar class="toolbar mat-elevation-z8" color="primary">


  <ul>
    <li class="title">
      <a>Super Heroes</a>
    </li>
    <li *ngIf="!isLoggedIn" routerLinkActive="active">
      <a mat-button routerLink="login">
        Login
        <span mat-ripple class="mat-ripple mat-button-ripple"></span>
        <span class="mat-button-focus-overlay"></span>
      </a>
    </li>
    <li *ngIf="isLoggedIn" routerLinkActive="active">
      <a mat-button routerLink="select">
        Hero Select
        <span mat-ripple class="mat-ripple mat-button-ripple"></span>
        <span class="mat-button-focus-overlay"></span>
      </a>
    </li>
  </ul>

  <span class="spacer"></span>

  <ul>
    <li *ngIf="isLoggedIn" routerLinkActive="active">
      <a mat-button routerLink="battle">
        Fight
        <span mat-ripple class="mat-ripple mat-button-ripple"></span>
        <span class="mat-button-focus-overlay"></span>
      </a>
    </li>
  </ul>

  <span class="spacer"></span>
  <ul>
    <li *ngIf="isLoggedIn">
      <button mat-button (click)="onLogout()">
        Logout
        <span mat-ripple class="mat-ripple mat-button-ripple"></span>
        <span class="mat-button-focus-overlay"></span>
      </button>
    </li>
    <li *ngIf="isLoggedIn" routerLinkActive="active">
      <a mat-button routerLink="user">
        User
        <span mat-ripple class="mat-ripple mat-button-ripple"></span>
        <span class="mat-button-focus-overlay"></span>
      </a>
    </li>
  </ul>
</mat-toolbar>
