<ul>
  <li *ngFor="let powerup of powerups">

    <div *ngIf="powerup.usesLeft > 0" class="card">
      <div class="card-body">
        <img [src]="powerup.image" class="img-fluid img-thumbnail rounded float-start"  alt="powerup"/>
        <h3 class="card-title">{{ powerup.title }}</h3>
        <p class="card-text">{{ powerup.stats }}</p>
        <p>Uses left: <span class="badge bg-secondary">{{ powerup.usesLeft }}</span></p>
      </div>
    </div>
  </li>

  <li *ngFor="let powerup of powerups">

    <div *ngIf="powerup.usesLeft === 0" class="card no-uses-left">
      <div class="card-body">
        <img [src]="powerup.image" class="img-fluid img-thumbnail rounded float-start"  alt="powerup"/>
        <h3 class="card-title">{{ powerup.title }}</h3>
        <p class="card-text">{{ powerup.stats }}</p>
        <p>Uses left: <span class="badge bg-secondary">{{ powerup.usesLeft }}</span></p>
      </div>
    </div>
  </li>
</ul>
