img {
  max-height: 100px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.card {
  width: 100%;
}

.card-body {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.stats-list {

  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

.card_button {
  align-self: end;
}

.card.selected {
  border: 3px solid darkviolet;
}


