<li>
  <div class="card" [ngClass]="{'selected': selected}">
    <div class="card-body">
      <div>
        <h5>{{ hero.name }}</h5>
        <img
          [src]="hero.image.url"
          class="img-fluid img-thumbnail rounded float-start"
          alt="Hero image"
        />
      </div>
      <ul class="stats-list">
        <li *ngIf="hero.powerstats.intelligence !== 'null'">
          Intelligence: {{ hero.powerstats.intelligence }}
        </li>
        <li *ngIf="hero.powerstats.strength !== 'null'">
          Strength: {{ hero.powerstats.strength }}
        </li>
        <li *ngIf="hero.powerstats.speed !== 'null'">
          Speed: {{ hero.powerstats.speed }}
        </li>
        <li *ngIf="hero.powerstats.durability !== 'null'">
          Durability: {{ hero.powerstats.durability }}
        </li>
        <li *ngIf="hero.powerstats.power !== 'null'">
          Power: {{ hero.powerstats.power }}
        </li>
        <li *ngIf="hero.powerstats.combat !== 'null'">
          Combat: {{ hero.powerstats.combat }}
        </li>
      </ul>
      <button
        *ngIf="!viewHeroButton"
        mat-flat-button
        type="button"
        color="primary"
        class="card_button"
        [disabled]="heroIsSelected(hero)"
        (click)="onSelectHero(hero)"
      >
        Select
      </button>
      <button
        *ngIf="viewHeroButton"
        mat-flat-button
        type="button"
        color="primary"
        class="card_button"
        (click)="onViewHeroButton($event, hero)"
      >
        View hero
      </button>
    </div>
  </div>
</li>
