<div class="menu">
  <div class="hero-name mat-elevation-z6">
    <p>{{ ownHeroName }}</p>
  </div>

  <button
    mat-raised-button
    class="mat-elevation-z6"
    color="primary"
    type="button"
    (click)="onStart()"
    [disabled]="fighting"
  >
      Start
  </button>

  <div class="hero-name mat-elevation-z6">
    <p>{{ enemyHero }}</p>
  </div>

  <div class="powerups mat-elevation-z6">
    <p class="powerups-title">Powerups:</p>

    <ul class="powerups-list">
      <li
        *ngFor="let powerup of powerups"
        [ngClass]="{ selected: powerup.selected }"
        (click)="onSelectPowerup(powerup.id)"
      >
        <p>{{ powerup.title }}</p>
      </li>
    </ul>
  </div>
  <div *ngIf="fighting" style="text-align: center" class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</div>
