.card {
  max-width: 400px;
  cursor: pointer;
  margin: 0 auto 10px;
  transition: background-color 250ms;
}

.card:hover {
  background-color: rgba(0 , 0, 0, .1);
  transition: background-color 250ms;
}

ul {
  list-style: none;
}
