<div *ngIf="hero" class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <img
          [src]="hero.image.url"
          alt="hero-img"
          class="img-fluid img-thumbnail rounded"
        />
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="card">
      <div class="card-body">

        <h2>{{ hero.name }}</h2>
        <section>
          <h3>Stats:</h3>
          <ul class="stats-list">
            <li *ngIf="hero.powerstats.intelligence !== 'null'">
              Intelligence: {{ hero.powerstats.intelligence }}
            </li>
            <li *ngIf="hero.powerstats.strength !== 'null'">
              Strength: {{ hero.powerstats.strength }}
            </li>
            <li *ngIf="hero.powerstats.speed !== 'null'">
              Speed: {{ hero.powerstats.speed }}
            </li>
            <li *ngIf="hero.powerstats.durability !== 'null'">
              Durability: {{ hero.powerstats.durability }}
            </li>
            <li *ngIf="hero.powerstats.power !== 'null'">
              Power: {{ hero.powerstats.power }}
            </li>
            <li *ngIf="hero.powerstats.combat !== 'null'">
              Combat: {{ hero.powerstats.combat }}
            </li>
          </ul>
        </section>

        <section>
          <h3>Biography:</h3>
          <p *ngIf="hero.biography['full-name']">
            Full name: {{ hero.biography["full-name"] }}
          </p>
          <p>Alter egos: {{ hero.biography["alter-egos"] }}</p>
          <p>Aliases: {{ hero.biography.aliases }}</p>
          <p>Place of birth: {{ hero.biography["place-of-birth"] }}</p>
          <p>First appearance: {{ hero.biography["first-appearance"] }}</p>
          <p>Publisher: {{ hero.biography.publisher }}</p>
          <p>Alignment: {{ hero.biography.alignment }}</p>
        </section>
        <section>
          <h3>Appearance</h3>
          <p>Gender: {{hero.appearance.gender}}</p>
          <p>Race: {{hero.appearance.race}}</p>
          <p>Height: {{hero.appearance.height[1]}}</p>
          <p>Weight: {{hero.appearance.weight[1]}}</p>
          <p>Eye color: {{hero.appearance['eye-color']}}</p>
          <p>Hair color: {{hero.appearance['hair-color']}}</p>
        </section>
        <section>
          <h3>Work</h3>
          <p>Occupation: {{hero.work.occupation}}</p>
          <p>Base: {{hero.work.base}}</p>
        </section>
        <section>
          <h3>Connections</h3>
          <p>Group affiliation: {{hero.connections['group-affiliation']}}</p>
          <p>Relatives: {{hero.connections.relatives}}</p>
        </section>
      </div>
    </div>

  </div>
</div>







