<form
  class="form"
  [formGroup]="authForm"
  (ngSubmit)="onSubmit()"
>
  <h4>Please enter your<span *ngIf="mode === 'newAccount'"> user name,</span> email and password</h4>
  <div
    *ngIf="mode === 'newAccount'"
    class="mb-3">
    <label for="username" class="form-label">User name</label>
    <input
      class="form-control"
      formControlName="username"
      name="username"
      id="username"
      type="text"
    />
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input
      class="form-control"
      formControlName="email"
      name="email"
      id="email"
      type="email"
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      class="form-control"
      formControlName="password"
      name="password"
      id="password"
      type="password"
    />
  </div>

  <button mat-flat-button color="primary" [disabled]="authForm.invalid">
    {{mode === 'login' ? 'Sign in' : 'Sign up'}}
  </button>
  <button mat-stroked-button type="button" (click)="onCreateNewAccount()">
    {{mode === 'login' ? 'Create new account' : 'Switch to login'}}
  </button>
</form>

