p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 5px;
  border: 1px solid transparent;
}

li:hover  {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
}


.menu {
  height: 100%;
  display: flex;
  gap: 15px;
  flex-flow: column nowrap;
  justify-content: center;

  text-align: center;
}

.hero-name {
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 5px;
}

.powerups {
  justify-self: end;
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 5px;
}

.powerups-title {
  margin-bottom: 10px;
}

.selected {
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
}

.spinner {

  align-self: center;
}
