p {
  margin: 0;
}


.menu {
  height: 100%;
  display: flex;
  gap: 15px;
  flex-flow: column nowrap;
  justify-content: center;

  text-align: center;
}

.hero-name {
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 5px;
}

.powerups {

  justify-self: end;
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: 5px;
}

.spinner {

  align-self: center;
}
