p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding: 3px;
  transition: border 300ms;
}

li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: border 300ms;
}

button {
  transition: box-shadow 250ms;
}

button:hover {
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%),
    0 1px 18px 0 rgb(0 0 0 / 12%), inset 0 0 12px rgba(255, 255, 255, 0.25);
  transition: box-shadow 200ms;
}

.menu {
  height: 100%;
  display: flex;
  gap: 15px;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
}

.hero-name {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 35px;
  background-color: white;
  border-radius: 4px;
}

.powerups {
  justify-self: end;
  background-color: white;
  border-radius: 4px;
}

.powerups-title {
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.powerups-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 1px;
}

li.selected {
  background-color: #673ab7;
  color: white;
  border-radius: 4px;
}

li:not(.selected) {
  transition: background-color 250ms;
}

li.selected {
  transition: background-color 250ms;
}

.spinner {
  align-self: center;
}
