<div class="menu">
  <p class="hero-name">{{ ownHeroName }}</p>
  <button
    mat-raised-button
    color="primary"
    type="button"
    (click)="onStart()"
    [disabled]="fighting"
  >
    Start
  </button>
  <p class="hero-name">{{ enemyHero }}</p>

  <div class="powerups">
    <p class="powerups-title">Powerups:</p>

    <ul>
      <li
        *ngFor="let powerup of powerups; index as i"
        [ngClass]="{ selected: isSelectedPowerup(i) }"
        (click)="onSelectPowerup(i)"
      >
        <p>{{ powerup.title }}</p>
      </li>
    </ul>
  </div>
  <div *ngIf="fighting" style="text-align: center" class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</div>
