<mat-card *ngIf="hero" class="card">
  <mat-card-header>
    <mat-card-title>{{ hero.name }}</mat-card-title>
    <mat-card-subtitle>{{ hero.biography["full-name"] }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="hero.image.url" alt="Hero img" />
  <mat-card-content>
    <ul class="stats-list">
      <li *ngIf="hero.powerstats.intelligence !== 'null'">
        Intelligence: {{ hero.powerstats.intelligence }}
      </li>
      <li *ngIf="hero.powerstats.strength !== 'null'">
        Strength: {{ hero.powerstats.strength }}
      </li>
      <li *ngIf="hero.powerstats.speed !== 'null'">
        Speed: {{ hero.powerstats.speed }}
      </li>
      <li *ngIf="hero.powerstats.durability !== 'null'">
        Durability: {{ hero.powerstats.durability }}
      </li>
      <li *ngIf="hero.powerstats.power !== 'null'">
        Power: {{ hero.powerstats.power }}
      </li>
      <li *ngIf="hero.powerstats.combat !== 'null'">
        Combat: {{ hero.powerstats.combat }}
      </li>
    </ul>
  </mat-card-content>
</mat-card>
